.menus {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


/* SLider */
.menus .slideshow {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 14px;
}

.menus .slideshow .slderItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.menus .slideshow .slderItem label {
    width: 10px;
    height: 10px;
    border-radius: 30px;
    background-color: gray;
    opacity: 0.4;
    transition-duration: 500ms;
}

.menus .slideshow .slderItem .manual-btn {
    opacity: 1;
}

.menus .slideshow-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.menus .slideshow-container .mySlides {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 3% 3%;
    justify-content: space-between;
    border-radius: 12px;
    width: 700px;
    height: 350px;
    box-shadow: 0px 0px 12px gray;
    position: relative;
    left: 0%;
    display: none;
}


.menus .slideshow-container .mySlides.fade {
    display: flex;
}

.menus .slideshow-container .mySlides .container1 {
    display: flex;
    flex-direction: column;

}

.menus .slideshow-container .mySlides .container1 strong {
    font-size: 40px;
    font-weight: bold;
    color: #e3b60f;
}

.menus .slideshow-container .mySlides .container1 div .col {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.menus .slideshow-container .mySlides .container1 div .col span {
    font-size: 15px;
    font-weight: bold;
}

.menus .slideshow-container .mySlides .container1 div .col span:nth-child(1) {
    font-weight: 500;
}

.slideshow-container .mySlides .container2 img {
    width: 255px;
    height: 255px;
    border-radius: 12px;

}


.slideshow-container .mySlides .container1 .buttons {
    margin-block: 8%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mySlides .container1 .buttons span {
    font-size: 52px;
    color: #c48d0a;
    font-weight: bold;
}



.slideshow-container .mySlides .container1 .buttons button:hover {
    box-shadow: 0px 0px 15px #f7df3f,
        0px 0px 7px #fbf08d;
}

.slideshow-container .mySlides .container1 .buttons .buttonR {
    background-color: #fbf08d;
    color: #402208;
}



/*
    Categoria
*/


.menus .category {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.menus .category span {
    position: relative;
    align-self: center;
    font-size: 13px;
    font-weight: 300;
    color: #9c650c;
    z-index: 1;
}

.menus .category .buttons {
    position: relative;
    z-index: 2;
    width: 110px;
    height: 110px;
    background-color: white;
    border: 1px solid #f7df3f;
    border-radius: 87px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 500ms;
    box-shadow: 2px 2px 5px #f3ce1c;
}

.menus .category .buttons img {
    border-radius: 12px;
}

.menus .category .buttons:hover {
    background-color: #f3ce1c;
}

.menus .category .intemsCat:hover span {
    font-size: 15px;
    font-weight: bold;
    top: -4px;
}


@media screen and (max-width:450px) {


    .menus .slideshow-container .mySlides {
        margin-top: 12%;
        width: 90%;
        height: 450px;
        flex-direction: column-reverse;
        gap: 1px;
    }


    .menus .slideshow-container .mySlides .container1 strong {
        font-size: 20px;
        font-weight: bold;

    }

    .menus .slideshow-container .mySlides .container1 div .col span {
        font-size: 13px;
        font-weight: bold;
    }



    .slideshow-container .mySlides .container2 img {
        height: 200px;
        width: 100%;
    }

    .menus .category {
        gap: 150px;
        position: relative;
        top: -105px;
    }

    .menus .category .buttons {

        width: 80px;
        height: 80px;
        margin-inline: 1302px;

    }

    .menus .category .buttons img {
        width: 50px;
        height: 50px;
    }


    .menus .category   span {
        top:130px;
    }
}